<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv ="content-type" content="text/html; charset=UTF-8">
    <title>Resister</title>
<!--    <link rel="stylesheet" type="text/css" href="../static/css/10.31.css">-->
<!--    <script src="../static/js/10.31.js"></script>-->
</head>
<body>
<form action="/user/add" method="post" name="user" id="user">
<div class="box">
    <div id="title">ResisterText</div>
    <h3>注册</h3>
    <div class="input-box">
        账号：<input id="mobile" type="text" placeholder="请输入手机号">
    </div>
    <div class="input-box">
        密码：<input id="password" type="password" placeholder="请输入密码">
    </div>
    <div class="input-box">
        验证：<input id="password1" type="password" placeholder="请再次输入密码">
    </div>
    <div id="error-box"><br></div>
    <div class="input-box">
<!--        <button onclick="fnLogin()">注册/Resister</button>-->
<!--        <a href="login.html">已注册/Login</a>-->
        <input type="submit" value="注册">
    </div>
</div>
</form>
</body>
</html>